<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
</head>
<body>
  <body>
    <h1 class="last-updated">Last Updated: <%= time %></h1>
    <h1 class="skills-header">Skills</h1>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
        <form action="/skills/<%= s.id %>?_method=DELETE"
          class="delete-form" method="POST">
          <a class="skill" href="/skills/<%= s.id %>"><%= s.skill %></a>
          <button class="delete" type="submit">Delete</button>
        </li>
      <% }); %>
    </ul>
    <a class="new-skill" href="/skills/new">Add New Skill</a>
    <a class="home" href="/">Home Page</a>
  </body>
</html>