<!DOCTYPE html>
<html>
  <head>
    <title>My Developer Skills></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  </head>
  <body>
    <p class="welcome-to">Welcome to my developer skills</p>
    <h1 class="welcome-title">My Software Developer Skills</h1>
    <a class="see-my-skills" href="/skills">Click here to see my developer skills</a>
  </body>
</html>
